html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/*My styles*/

table .absorbing-column {
    width: 100%;
}

.white-tooltip {
    --bs-tooltip-color: var(--bs-black);
    --bs-tooltip-bg: var(--bs-white);
}

.resizable-table-columns {
    table-layout: fixed;
}

.resizable-table-columns > thead tr th {
    resize: horizontal;
    overflow: hidden;
}

.resizable-table-columns > tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.resizable-table-columns > tbody tr td:hover {
    text-overflow: unset;
    overflow: auto;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}


/* Hide the captions settings item from the captions menu. */
.vjs-texttrack-settings {
    display: none;
}
