html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0071c1;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/*My styles*/

table .absorbing-column {
    width: 100%;
}

.white-tooltip {
    --bs-tooltip-color: var(--bs-black);
    --bs-tooltip-bg: var(--bs-white);
}

.resizable-table-columns {
    table-layout: fixed;
}

.resizable-table-columns > thead tr th {
    resize: horizontal;
    overflow: hidden;
}

.resizable-table-columns > tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.resizable-table-columns > tbody tr td:hover {
    text-overflow: unset;
    overflow: auto;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}
