@page "/MissingFiles"
@using Shizou.Data.Extensions
<PageTitle>Missing Files</PageTitle>

<main class="container-md">
    <div class="d-flex mb-2 gap-2">
        <button type="button" class="btn btn-primary" @onclick="@RemoveMissing">
            <i class="bi bi-search"></i> Remove All
        </button>
    </div>
    <div class="row">
        <div class="col overflow-auto">
            <table class="table table-hover">
                <tbody>
                @foreach (var file in _localFiles.OrderByAlphaNumeric(lf => Path.Combine(lf.ImportFolder?.Path ?? "<MISSING IMPORT FLD>", lf.PathTail)))
                {
                    <tr>
                        <td>@(Path.Combine(file.ImportFolder?.Path ?? "<MISSING IMPORT FLD>", file.PathTail))</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</main>
