@page "/Logs"
<PageTitle>Logs</PageTitle>

<main class="container-md">
    <div class="bg-body-tertiary p-3 rounded-2">
        @foreach (var logEvent in _bufferSink.Snapshot())
        {
            <p @key="@logEvent">@(GetText(logEvent))</p>
        }
    </div>
</main>
