@page "/Collection"
<h3>Collection</h3>
<div class="container-fluid">
    <div class="row gx-2 align-items-end">
        @foreach (var anime in _anime)
        {
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <div class="card text-center p-2 mt-2">
                    @if (anime.ImageFilename is not null)
                    {
                        <img class="card-img" src="@($"{WebPaths.AnimePostersDir}/{anime.ImageFilename}")">
                    }
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h4 class="card-title bg-black bg-opacity-50">@anime.Title</h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
