@page "/Collection"
<h3>Collection</h3>
<div class="container-fluid">
    <div class="row gx-2 align-items-end">
        @foreach (var anime in _anime)
        {
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <div class="card text-center p-2 mt-2" role="button" @onclick="@(() => GoToAnime(anime.Id))">
                    @if (anime.ImageFilename is not null)
                    {
                        <img class="card-img img-fluid" style="height: 25vh; object-fit: contain; width: 100%;" src="@($"{WebPaths.AnimePostersDir}/{anime.ImageFilename}")">
                    }
                    <div class="card-footer">
                        <span>@(anime.Title.Length > 35 ? anime.Title.Substring(0, 35).Trim() + "..." : anime.Title)</span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
