<header class="top-row navbar navbar-expand-md bg-secondary z-3 sticky-top">
    <nav class="container-fluid">
        <a class="navbar-brand" href="">Shizou</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass bg-secondary" @onclick="@ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="bi bi-house-fill" aria-hidden="true"></i> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Collection" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-grid-3x3-gap-fill" aria-hidden="true"></i> Collection
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="UnidentifiedFiles" Match="NavLinkMatch.Prefix">
                        <i class="bi bi-question-diamond" aria-hidden="true"></i> Unidentified
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0">
                <li class="nav-item">
                    <button type="button" class="btn btn-link nav-link w-100" @onclick="@ToggleDarkMode">
                        <i class="bi @(_isDarkMode ? "bi-moon-stars-fill" : "bi-sun-fill")" aria-hidden="true"></i>
                        <span class="d-md-none">&nbsp;Toggle Theme</span>
                    </button>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Logout" Match="NavLinkMatch.All">
                                <i class="bi bi-box-arrow-left" aria-hidden="true"></i> Logout
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login" Match="NavLinkMatch.All">
                                <i class="bi bi-box-arrow-in-right" aria-hidden="true"></i> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </nav>
</header>
