<header class="top-row navbar navbar-expand-md bg-secondary z-3 sticky-top">
    <nav class="container-fluid">
        <a class="navbar-brand" href="">Shizou</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @NavMenuCssClass bg-secondary" @onclick="@ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="oi oi-home" aria-hidden="true"></i> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="Collection" Match="NavLinkMatch.Prefix">
                        <i class="oi oi-grid-three-up" aria-hidden="true"></i> Collection
                    </NavLink>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary" @onclick="@ToggleDarkMode">Toggle Dark Mode</button>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-md-0">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Logout" Match="NavLinkMatch.All">
                                <i class="oi oi-account-logout" aria-hidden="true"></i> Logout
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="Account/Login" Match="NavLinkMatch.All">
                                <i class="oi oi-account-logout" aria-hidden="true"></i> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </nav>
</header>