@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link href="~/css/site.css" rel="stylesheet">
    <script src="~/js/theme.js"></script>
</head>
<body style="margin:50px">
@RenderBody()
</body>
</html>