@page
@model ChangePassword

@{
    ViewData["Title"] = "Set Password";
}

<h1>@ViewData["Title"]</h1>

<form method="post" style="width: 30rem">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating m-2">
        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true">
        <label asp-for="Input.Password" class="form-label">Old Password</label>
        <span asp-validation-for="Input.Password" class="text-danger d-inline-block mt-1"></span>
    </div>
    <div class="form-floating m-2">
        <input asp-for="Input.NewPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true">
        <label asp-for="Input.NewPassword" class="form-label">New Password</label>
        <span asp-validation-for="Input.NewPassword" class="text-danger d-inline-block mt-1"></span>
    </div>
    <div class="form-floating m-2">
        <input asp-for="Input.ConfirmNewPassword" type="password" class="form-control" autocomplete="new-password" aria-required="true">
        <label asp-for="Input.ConfirmNewPassword" class="form-label">Confirm New Password</label>
        <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger d-inline-block mt-1"></span>
    </div>
    <button id="setpassword-submit" type="submit" class="w-100 btn btn-lg btn-primary m-2">Submit</button>
</form>
