@page
@using Shizou.Data.Utilities
@using Shizou.Server.Controllers
@model SetPassword

@{
    ViewData["Title"] = "Set Password";
}

<h1>@ViewData["Title"]</h1>
<div class="row" style="margin:50px">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (NetworkUtility.IsLoopBackAddress(HttpContext.Connection.RemoteIpAddress!.ToString()))
                {
                    <div class="form-floating" style="margin:10px">
                        <input asp-for="Input.Password" class="form-control" autocomplete="password" aria-required="true">
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating" style="margin:10px">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="password" aria-required="true">
                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div style="margin:10px">
                        <button id="setpassword-submit" type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
                    </div>
                }
                else
                {
                    <h1>Must connect via localhost to change password</h1>
                }
            </form>
        </section>
    </div>
</div>