.collection-card {
    height: 25vh;
    min-height: 12rem;
    max-width: 35vw;
    min-width: 10rem;
}

.collection-card-footer {
    height: 4.05em;
    line-height: 1.5em;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
