.collection-card-img {
    height: 25vh;
    min-height: 12rem;
    max-width: 35vw;
    object-fit: contain;
    width: 100%;
}

.collection-card-footer {
    height: 4.05em;
    line-height: 1.5em;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
