@page "/Collection"

<FilterOffcanvas SelectedFilterId="@_selectedFilterId" SelectedFilterIdChanged="@OnSelectedFilterChanged"></FilterOffcanvas>
<PageTitle>Collection</PageTitle>
<article class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var anime in _anime)
        {
            <AnimeCard @key="@(anime.Id)" AniDbAnime="@anime"></AnimeCard>
        }
    </div>
</article>
