@page "/Collection"

<PageTitle>Collection</PageTitle>

<article class="container-fluid">
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var anime in _anime)
        {
            <AnimeCard AniDbAnime="@anime"></AnimeCard>
        }
    </div>
</article>
