@page "/Collection"

<PageTitle>Collection</PageTitle>

<article class="container-fluid">
    <div class="row gx-2 align-items-end">
        @foreach (var anime in _anime)
        {
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-xs-6">
                <div class="card text-center p-2 mt-2" role="button" @onclick="@(() => GoToAnime(anime.Id))">
                    @if (anime.ImageFilename is not null)
                    {
                        <img class="card-img img-fluid collection-card-img" src="@($"{WebPaths.AnimePostersDir}/{anime.ImageFilename}")">
                    }
                    <div class="card-footer collection-card-footer">
                        @(anime.Title)
                    </div>
                </div>
            </div>
        }
    </div>
</article>