<ModalWrapper Cancel="@Cancel">
    <div class="modal-header">
        <h4 class="modal-title">Manual Link Modal</h4>
    </div>
    <div class="modal-body">
        <button type="button" class="btn btn-primary" @onclick="@OpenAnimeModal">Add Anime</button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" @onclick="@Close">Close</button>
    </div>
</ModalWrapper>
