.fade-in {
    animation: 300ms ease-out 0s ModalFadeIn;
}

.fade-out {
    animation: 300ms ease-out 0s ModalFadeOut;
    opacity: 0;
}

@keyframes ModalFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ModalFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
