<FocusTrap @ref="@_focusTrap" IsActive="true">
    <div class="modal fade show d-block @_classes @_animationClass" aria-modal="true" role="dialog" @attributes="@AdditionalAttributes">
        <div class="modal-backdrop fade show" @onclick="@(async () => await CancelAsync())"></div>
        <div class="modal-dialog" style="z-index: var(--bs-modal-zindex)">
            <div class="modal-content">
                @ChildContent
            </div>
        </div>
    </div>
</FocusTrap>
