<ModalWrapper class="modal-xl modal-fullscreen-lg-down">
    <div class="modal-body">
        <video class="object-fit-contain h-100 w-100" controls src="api/FileServer/@LocalFileId"></video>
    </div>
</ModalWrapper>
