<div class="@_classes" @ref="@_elementReference" @attributes="@AdditionalAttributes"
     data-bs-title="@Content" data-bs-toggle="tooltip" data-bs-custom-class="white-tooltip">
    @ChildContent
</div>