<ModalWrapper Cancel="@Cancel" class="modal-xl modal-fullscreen-lg-down">
    <div class="modal-body">
        <video id="@_videoId" class="h-100 w-100 object-fit-contain video-js" controls>
            <source src="api/FileServer/@LocalFileId" type="@(_localFileMimeType)"/>
            @foreach (var idx in _assSubUrls.Select((_, idx) => idx))
            {
                <track default="@(idx == 0)" kind="subtitles" src="/dummy.vtt"/>
            }
        </video>
    </div>
</ModalWrapper>
