@using Blazored.Video
<ModalWrapper Cancel="@Cancel" class="modal-xl modal-fullscreen-lg-down">
    <div class="modal-body">
        <BlazoredVideo id="@_videoId" class="h-100 w-100 object-fit-contain" controls="controls">
            <source src="api/FileServer/@LocalFileId"/>
        </BlazoredVideo>
    </div>
</ModalWrapper>
