@page "/Queues"
@using Shizou.Extensions
@using Shizou.CommandProcessors
@using ShizouData.Database
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ShizouContext> ContextFactory
@inject IServiceProvider ServiceProvider

<h3>Queues</h3>

@if (_processors is null)
{
    <div>
        <em>Loading...</em>
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Type</th>
            <th>Message</th>
            <th>Queued</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @using (var context = ContextFactory.CreateDbContext())
        {
            @foreach (var processor in _processors)
            {
                <tr>
                    <td>@Enum.GetName(processor.QueueType)</td>
                    <td>
                        @if (processor.Paused)
                        {
                            @processor.PauseReason
                        }
                        else
                        {
                            @processor.CurrentCommand?.CommandId
                        }
                    </td>
                    <td>@context.CommandRequests.GetQueueCount(processor.QueueType)</td>
                    <td>
                        @if (processor.Paused)
                        {
                            <button class="btn" @onclick="processor.Unpause">
                                <i class="oi oi-media-play"></i>
                            </button>
                        }
                        else
                        {
                            <button class="btn" @onclick="() => processor.Pause()">
                                <i class="oi oi-media-pause"></i>
                            </button>
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}

@code {
    private List<CommandProcessor>? _processors;

    protected override void OnInitialized()
    {
        _processors = ServiceProvider.GetServices<CommandProcessor>().ToList();

        base.OnInitialized();
    }

}