@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/open-iconic/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="lib/video.js/video-js.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    @* ReSharper disable Html.PathError *@
    <link rel="stylesheet" href="Shizou.Blazor.styles.css"/>
    @* ReSharper restore Html.PathError *@

    @* Favicon start *@
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    @* Favicon end *@

    <link rel="manifest" href="/manifest.json"/>
    <meta name="theme-color" content="white">

    <HeadOutlet @rendermode="@RenderModeForPage"/>
</head>
<body class="invisible">
<Routes @rendermode="@RenderModeForPage" IdentityCookie="@(HttpContext.Request.Cookies[IdentityConstants.ApplicationScheme])"/>

@* ReSharper disable Html.PathError *@
<script src="_framework/blazor.web.js"></script>
@* ReSharper restore Html.PathError *@

</body>
</html>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/Account")
        ? null
        : new InteractiveServerRenderMode(false);

}
