@inject IHostEnvironment Env
<!DOCTYPE html>
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/open-iconic/font/css/open-iconic-bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="lib/video.js/video-js.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    @* ReSharper disable Html.PathError *@
    <link rel="stylesheet" href="Shizou.Blazor.styles.css"/>
    @* ReSharper restore Html.PathError *@

    @* Favicon start *@
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    @* Favicon end *@

    <link rel="manifest" href="/manifest.json"/>
    <meta name="theme-color" content="white">
    <script src="js/theme.js"></script>

    <HeadOutlet @rendermode="@(new InteractiveServerRenderMode(false))"/>
</head>
<body>
<Routes @rendermode="@(new InteractiveServerRenderMode(false))"/>

<div id="blazor-error-ui" class="offcanvas offcanvas-bottom bg-danger" style="display:none;transform:none;visibility:visible;height:unset;z-index:5000">
    <div class="d-flex flex-row p-3">
        <div class="flex-grow-1">
            @if (Env.IsDevelopment())
            {
                <text>
                    An unhandled exception has occurred. See browser dev tools for details.
                </text>
            }
            else
            {
                <text>
                    An error has occurred. This app may no longer respond until reloaded.
                </text>
            }
            <a href="javascript:window.location.href='/'">Reload</a>
        </div>
        <button type="button" class="btn btn-close"></button>
    </div>
</div>

@* ReSharper disable Html.PathError *@
<script src="_framework/blazor.web.js"></script>
@* ReSharper restore Html.PathError *@

<script src="lib/video.js/video.min.js" integrity="sha384-7WJd15qzjuxEd6cGsqMXUooY6KsQuT9lKEkD7sFJVQKpTh3I5MbGcoGoJEMzNZJf"></script>

<script src="js/webplayer.js" type="module" integrity="sha384-aQPVI3KB6AclR50izo9buJ7DDlq7IOXy1teXMrJPMHdQXLfTX3w9VWwBWVBlFYSV"></script>
</body>
</html>
