<h3>Actions</h3>
<section class="actions">
    <button type="button" class="btn btn-primary" @onclick="@DispatchNoop">Add noops</button>
    <button type="button" class="btn btn-primary" @onclick="@RunImport">Run Import</button>

</section>
