@using Shizou.Services
@using Shizou.Commands
@inject IServiceProvider ServiceProvider

<h3>Actions</h3>
<section class="actions">
    <button type="button" class="btn btn-primary" @onclick="@DispatchNoop">Add noops</button>
    <button type="button" class="btn btn-primary" @onclick="@RunImport">Run Import</button>
    <button type="button" class="btn btn-primary" @onclick="@OpenDialog">Add Import Folder</button>
    @if (DialogOpen)
    {
        <ModalDisplay Title="Add Import Folder" Text="Add an import folder" OnClose="@OnDialogClose"></ModalDisplay>
    }
</section>

@code {

    public bool DialogOpen { get; set; }

    private void OnDialogClose(bool accepted)
    {
        DialogOpen = false;
        StateHasChanged();
    }

    private void OpenDialog()
    {
        DialogOpen = true;
        StateHasChanged();
    }

    private void DispatchNoop()
    {
        ServiceProvider.GetRequiredService<CommandService>().DispatchRange(Enumerable.Range(1, 10).Select(n => new NoopArgs(n)));
    }

    private void RunImport()
    {
        ServiceProvider.GetRequiredService<ImportService>().Import();
    }

}