table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table td {
    text-align: left;
    vertical-align: middle;
}

i {
    text-align: center;
    vertical-align: middle;
}