<a @key="@AnimeId" href="Collection/@AnimeId" class="anime-card card text-decoration-none text-reset border-0">
    <img alt="@Title" loading="lazy" class="rounded object-fit-cover" src="@PosterPath">
    <div class="m-1 mb-2 text-center title-line-clamp">@Title</div>
    @ChildContent
</a>
