<a href="Collection/@AnimeId" class="anime-card card text-decoration-none text-reset border-0">
    <img alt="@Title" loading="lazy" class="card-img-top rounded object-fit-cover" src="@_posterPath"
         onerror="this.onerror=null;this.src='images/missing_poster.png';">
    <div class="p-2 pb-0 text-truncate">@Title</div>
</a>
