@using Shizou.Data.Extensions
<a href="Collection/@AnimeId" class="card anime-card">
    <img alt="" loading="lazy" class="card-img object-fit-cover h-100" src="@_posterPath" onerror="this.onerror=null;this.src='images/missing_poster.png';">
    <div class="card-img-overlay d-flex p-0 align-items-end">
        <div class="p-2 text-center text-white bg-black bg-opacity-75 w-100 overflow-hidden">
            @(Title.TruncateWithSuffix(45, "…"))
        </div>
    </div>
</a>
