@inherits ComponentWithExtraClasses

@if (_schemeHandlerInstalled)
{
    <a class="btn @ExtraClasses" type="button" href="@_externalPlaybackUri">
        <i class="bi bi-cast"></i> @Label
    </a>
}
else
{
    <button class="btn @ExtraClasses" type="button" @onclick="@OpenSchemeHandlerDownloadModalAsync">
        <i class="bi bi-cast"></i> @Label
    </button>
}
