@using Shizou.Data
<Modal @ref="@_modal">
    <div class="modal-header">
        <h4 class="modal-title">Download and install the scheme handler to play in an external player</h4>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" href="@(Constants.SchemeHandlerUrl)" target="_blank">Get the Latest Release</a>
        <button type="button" class="btn btn-success" @onclick="@InstalledAsync">It's Installed</button>
        <button type="button" class="btn btn-danger" @onclick="@DismissAsync">Dismiss</button>
    </div>
</Modal>
