@page "/Account/ExternalLogin"

<PageTitle>External Login</PageTitle>

<StatusMessage/>
<h1>External Login</h1>
<hr/>

<div class="alert alert-info">
    You've successfully authenticated with <strong>@ProviderDisplayName</strong>.
    But the account is not associated with the application user.
</div>


<a href="Account/Login">Go back to login</a>
