@page "Account/Login"
@using Shizou.Blazor.Components.Account.Shared

<PageTitle>Login</PageTitle>
<h1>Login</h1>

<StatusMessage Message="@_errorMessage"/>
<EditForm Model="@Input" method="post" style="max-width: 30rem" OnValidSubmit="@LoginUserAsync" FormName="login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-2">
        <input asp-for="Input.Password" type="password" class="form-control" autocomplete="password" aria-required="true">
        <label asp-for="Input.Password" class="form-label"></label>
        <span asp-validation-for="Input.Password" class="text-danger fs-3"></span>
    </div>
    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-2">Log In</button>
</EditForm>
<a href="Account/ChangePassword">Change Password</a>
